<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/addinfo">
    姓名：<input type="text" name="name"><br>
    性别：男：<input type="radio" value="1" name="sex">
          女：<input type="radio" value="2" name="sex">
          保密：<input type="radio" value="3" name="sex"><br>
    年龄：<input type="text" name="age"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>