<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<%=id%>
<form action="/list/" method="get">
    <input type="text" name="name">
    <input type="submit" value="提交">
</form>
</body>
</html>